.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* @font-face {
  font-family: karla;
  src: url(./Karla/Karla-VariableFont_wght.ttf);
} */
* {
  box-sizing: border-box;
}
body {
  font-family: karla;

  height: 100vh;
  margin: 0;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #e5eff5;
}
p {
  margin: 0;
}
/* common */
.frame {
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.25));
}
.row1 {
  background: white;
}
.row1 > .style1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #2ab2af;
}
.row1 > .style2 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #c0df34;
}
.row1 > .style3 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* or 186% */

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  color: #98a6bd;
}

.col1 {
  background: #2ab2af;
}
.col1 > .style1 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  display: flex;
  align-items: center;

  color: #ffffff;
}
.col1 > .style2 {
  color: #ffffff;
}
.col1 > .style2 > .big {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 26px;
}
.col1 > .style2 > .normal {
  padding-left: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: -0.01em;
}
.col1 > .style3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  letter-spacing: -0.01em;

  color: #ffffff;
}
.col1 > .button {
  background: #c0df34;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
}
.col2 {
  background: #4abebd;
  font-style: normal;

  color: #ffffff;
}
.col2 > .head {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.col2 > .heading {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  color: #ffffff;
}
@media screen and (max-width: 700px) {
  /* mobile */
  .frame {
    width: 311px;
    height: 722px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .row1 {
    padding-inline: 24px;
    width: 311px;
    height: 267px;
    border-radius: 8px 8px 0 0;
  }
  .row1 > .style1 {
    padding-top: 28px;
  }
  .row1 > .style2 {
    padding-top: 25px;
  }
  .row1 > .style3 {
    padding-top: 17px;
  }
  .row2 {
    padding-left: 24px;
  }
  .col1 {
    height: 228px;
    padding-inline: 24px;
  }
  .col1 > .style1 {
    padding-top: 22px;
  }
  .col1 > .style2 {
    padding-top: 20px;
  }
  .col1 > .style3 {
    padding-top: 10px;
  }
  .col1 > .button {
    margin-top: 26px;
  }
  .col2 {
    height: 228px;
    border-radius: 0 0 8px 8px;
  }
  .col2 > .head {
    padding-top: 22px;
  }
  .col2 > .headings {
    padding-top: 15px;
  }
}
@media screen and (min-width: 700px) {
  .frame {
    display: grid;
    grid-template-columns: 317px 317px;
    grid-template-rows: 216px 260px;
  }
  .frame > .row1 {
    grid-column: span 2;
    border-radius: 8px 8px 0 0;
  }
  .row1 > .style1 {
    padding: 40px 0 0 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  .row1 > .style2 {
    padding: 25px 0 0 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  .row1 > .style3 {
    width: 556px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;

    padding: 10px 0 0 40px;
  }
  .col1 {
    border-radius: 0 0 0 8px;
  }
  .col1 > .style1 {
    padding: 38px 0 0 40px;
  }
  .col1 > .style2 {
    padding: 20px 0 0 40px;
  }
  .col1 > .style3 {
    padding: 10px 0 0 40px;
  }
  .col1 > .button {
    margin: 26px 40px 0 40px;
  }
  .col2 {
    border-radius: 0 0 8px 0;
  }
  .col2 > .head {
    padding: 38px 0 0 40px;
  }
  .col2 > .headings {
    padding: 15px 0 0 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: -0.01em;
  }
}
